# Ignore node dependencies (reinstalled inside containers)
node_modules
**/node_modules

# Log files
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv secrets
.env
.env.*

# Git metadata
.git
.gitignore

# Build outputs
/dist/
/build/
client/dist
client/build

# OS junk
.DS_Store
Thumbs.db

# IDE metadata
.vscode/
.idea/

# Docker configs
Dockerfile
docker-compose.yml
